<div class="videos">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/156914906"></iframe>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/186424541"></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7JcvTrc_62M"></iframe>
</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/142338905"></iframe>
</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/140997980"></iframe>
</div>
		</div>
	</div>
	<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/141725375"></iframe>
</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/175922783"></iframe>
</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/143761024"></iframe>
</div>
		</div>
	</div>
</div>
<div class="clear-fix">
</div>