<div class="about">
	<div class="container">
		<h1>About Me </h1>
		<div class="row">
		<div class="col-md-6 col-xs-12">
			<img class="img-responsive" src="/images/SAM_0467.jpg">
		</div>
		<div class="col-md-6 col-xs-12">
			<p>Hello! My name is Rodrigo Meoño, I'm 22 years old, borned and raised in Guatemala, Centra America. Welcome to my portfolio, I hope to transmit to you the feelings and sensations I had in the places I took my pictures and videos.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<p>Let me tell you a little bit about myself.
</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<p>My pictures are available for purchase. Send me a message and we can settle a price and a method of payment. Any picture purchased will be sent to you trough google drive in full resolution and full quality. My camera takes pictures with 28 megapixels and the image size is 6480px × 4320px.
</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<p>Thank you again for visiting my portfolio, I hope you enjoyed it and felt the love I have put on every picture. Good vibes sent your way.
</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<img class="img-responsive" src="/images/me-2.jpg" width ="100%">
		</div>
	</div>
</div>
</div>
<div class="clear-fix">
	</div>