<div class ="catalog">
	<div class="container">
		<h1>Descarga el Cat&aacute;logo en PDF de la Coleccci&oacute;n No. 1 de Rodrigo Meoño en el siguiente link</h1>
		<%= link_to 'Descargar PDF', '/fotoexpomobil.pdf' %>
	</div>
</div>