<div class ="catalog">
	<div class="container">
		<h1>Watch my Collection No. 1 online! </h1>
		<h3>Click the link in your language below.</h3>
		<%= link_to 'VER PDF', '/fotoexpobaja.pdf' %>
		<br>
		<br>
		<%= link_to 'VOIR PDF (FRA)', '/fotoexpofrancaisbaja.pdf' %>
		<br>
		<br>
		<%= link_to 'VIEW PDF (EN)', '/photoexpobaja.pdf' %>
	</div>
</div>