<div class ="catalog">
	<div class="container">
		<h1>Watch my Collection No. 1 online! </h1>
		<h3>Click the link in your language below.</h3>
		<%= link_to 'Ver PDF (ESP)', 'https://online.flippingbook.com/view/300107/', target: "_blank" %>
		<br>
		<br>
		<%= link_to 'Voir PDF (FRA)', 'https://online.flippingbook.com/view/105737/', target: "_blank" %>
		<br>
		<br>
		<%= link_to 'View PDF (EN)', 'https://online.flippingbook.com/view/735139/', target: "_blank" %>
	</div>
</div>