<div class="jumbotron" id="music">
	<h1>Djay Recordings</h1>
</div>
<div class="supporting" id ="songs">
	<div class="container">
		<div class="row" id ="recordings">
			<div class="col-md-6 col-xs-12">
				<img src="/musical-recordings/album-cover.png" class="img-responsive">
			</div>
			<div class="col-md-6 col-xs-12">
				<h2>Techno Vol. 2</h2>
				<h3> -Rodrigo Meoño</h3>
				<p>After hours set. (July 2018) DISCLOSURE: I don't own any songs contained in this mix.</p>
	<audio controls preload="none" style="width:auto;">
 <source src="/musical-recordings/Techno-Vol-2.m4a" type="audio/mp3" />
 <source src="/musical-recordings/Techno-Vol-2.m4a" type="audio/ogg" />
 <p>Your browser does not support HTML5 audio.</p>
 </audio>
 <p>
 <strong>Download Audio:</strong>
 <a href="/musical-recordings/Techno-Vol-2.m4a">M4A</a>,
 <a href="/musical-recordings/Techno-Vol-2.m4a">OGG</a>
 </p>
</div>
</div>
</div>
</div>