/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#bs-over {
	font-family: 'Lobster Two';
	position: relative;
  	overflow: scroll;
}


.menu {
	background-color: #000;
	color: #fff;
	height: 100%;
  	position: fixed;
  	width: 220px;
  	left:-220px;
  	z-index: 1000;
  	margin-left: 0px;
  	padding-left: 0px;

}

.menu ul {
	list-style-type: none;
	margin-left: 25%;
	padding-left: 0px;
}

#bs-over .menu li {
	padding: 10px;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 22px;
	padding-right: 5px;
}

.menu li a {
	text-decoration: none;
	color: #fff;
}

#bs-over .menu #span a {
	color: #888888;
	border: none;
}

.icon-close i {
	cursor: pointer;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 28px;
}

#icon-menu {
	display: none;
	cursor: pointer;
	padding-left: 10px;
	margin-left: 5px;
	font-size: 28px;
	z-index: 1000;
}

.top-nav {
	padding: 5px;
	border-bottom: 1px solid #dbdbdb;
	box-shadow: 0px 1px 2px #dbdbdb;
}

.top-nav h1 {
	display: inline;
	margin-left: 40px;
	font-family: 'Damion';
}

.top-nav ul {
	list-style-type: none;
	margin-right: 20px;
}

.top-nav li {
	display: inline-block;
	padding: 5px;
	padding-top: 10px;
	font-size: 18px;
}

#bs-over .top-nav a {
	text-decoration: none;
	color:#000;
}

#bs-over form input {
	display: block;
}

#bs-over .btn-submit {
	margin-top: 20px;
	background-color: #000;
	color: #fff;
	padding: 8px;
	border: none;
}

.project-photographs {
	position: relative;
	margin-top: 70px;
}

.project-photographs .col-md-4 {
	padding-left: 5px;
	padding-right: 5px;
}


#bs-over .project-photographs .col-md-4 img {
	width: 400px;
	height: 210px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#bs-over .project-photographs .col-md-4 img:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.app-nav {
	padding: 10px;
}

.app-nav i{
	font-size: 34px;
	border: 2px solid #fff;
	border-radius: 50%;
	transition: border .3s;
}

.app-nav i:hover {
	border: 2px solid #000;
	border-radius: 50%;
}

.clear-fix {
	height:30px;
}

.footer {
	height: 125px;
	background-color: #000;
	color: #fff;
	right:0;
	margin-right: 0px;
}

.footer .container {
	right:0;
	margin-right: 0px;
}

.footer ul {
	margin-top: 60px;
	margin-right: 0px;
	right:0;
	text-decoration: none;
}

.footer li {
	display: inline-block;
}

.footer li a {
	color: #fff;
}

.footer i {
	font-size: 32px;
	padding: 5px;
}

@media only screen and (max-width: 768px) {

	.header h1 {
		font-size: 36px;
	}

	.menu li a{
		font-size: 24px;
	}
	
	.header ul {
		display: none;
	}

	.top-nav h1 {
		margin-left: 50px;
	}

	#bs-over #icon-menu {
		font-size: 32px;
		color: #000;
		padding-left: 5px;
		padding-top: 3px;
		position: fixed;
		z-index: 1000;
		display: inline-block;
	}

	.icon-close i {
		font-size: 32px;
	}
	.app-nav i {
		font-size: 28px;
	}

	#bs-over .page-nav h2 {
		margin-left: 10px;
	}
	.page-nav ul {
		margin-right: 5px;
	}

	.project-photograph {
		height: 400px;
	}

	#bs-over .project-photograph i {
		font-size: 28px;
	}

	#bs-over .projects  {
		height: auto;
		margin-bottom: 20px;
}
	.project-photographs .container {
	margin: 5px;
}
	#bs-over .projects .col-md-6  {
		width: 100%;
		height: 75%;
	}

	#bs-over .projects img {
		width: 100%;
	}

	#bs-over .projects img:hover {
		width: 100%;
	}

	#bs-over .col-xs-4 {
		padding-left: 1px;
		padding-right: 1px;
	}

	#bs-over .project-photographs .col-xs-4 img {
		width: 7em;
		height: 4em;
	}

	#bs-over .project-photographs .col-xs-12 img {
		width: 100%;
		height: 75%;
	}

	#bs-over .project-photographs span {
		display: none;
	}

	#photo-in-project {
		height: 75%;
		margin-left: 0px;
	}

	#form {
		padding: 40px;
	}

	#bs-over .page-nav {
		height: 3em;
	}

	.footer i {
	font-size: 32px;
	padding: 5px;
}

	}
