// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home .jumbotron {
	height: 600px;
	background-image: url('/images/SAM_0304.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-bottom:0px;
	text-align: center;
}

.home .jumbotron h1 {
	font-size: 4em;
	color: #fff;
	padding-top: 160px;
	text-shadow: 0px 2px 3px #333;
	padding-bottom: 30px;
}

#bs-over .home .jumbotron a {
	font-size: 2em;
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 5px;
	transition: background .3s;
	text-decoration: none;
}

#bs-over .home .jumbotron a:hover {
	background-color: #000;
	text-decoration: none;
}

.about {
	text-align: justify;
	background-image: url("/images/triangles.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 600px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.about h1 {
	color: #fff;
	text-shadow: 0px 2px 3px #000;
	margin-bottom: 70px;
}

.about .row {
	margin-top: 10px;
}

.about p {
	margin-top: 0px;
	color: #fff;
	background-color: #000;
	padding: 20px;
	opacity: 0.9;
	font-size: 1.2em;
	font-family: georgia;
}

.catalog {
	height: 400px;
}

.catalog h1 {
	margin-top: 40px;
	margin-bottom: 40px;
}

#bs-over .catalog a {
	text-align: center;
	text-transform: uppercase;
	border: 10px solid #000;
	background-color: #000;
	color: #fff;
	font-family: arial;
	margin-top: 40px;
	font-size: 1.8em;
	margin-right: 40px;
	margin-bottom: 40px;

}

@media only screen and (max-width: 768px) { 
	.home .jumbotron h1 {
		font-size: 3em;
	}

}
